html, body {
    height: 100%;
    font-size: 16px;
}

body {
    font: caption;
    margin: 0;
    display: flex;
    flex-flow: column;
    background: white;
}

button {
    border-radius: 5px;
    border: none;
}

input {
    border-radius: 5px;
    border: 1px solid #2f3137;
    padding: 0.625rem;
}

input::placeholder {
    color: #d1d1d1;
}

header {
    display: flex;
    align-items: center;
    padding: 0.625rem;
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
}

#show-modal {
  background-image: url('../images/search-icon.svg'); 
  background-color: white; 
  height: 25px; 
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

#search, main {
    flex-grow: 1;
}

#search {
    margin-right: 0.625rem;
}

main {
    /* margin-top: 0.625rem; */
    overflow-y: scroll;
}

#no-items {
    font-weight: bold;
    color: #2f3137;
    text-align: center;
    width: 100%;
}

#items {
    padding: 0.625rem;
}

#modal {
    /* display: flex; */
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(2, 2, 3, 0.9);
    z-index: 99999;
}

#modal-body {
    background: white;
    color: #2f3137;
    border-radius: 0.375rem;
    width: 75%;
    max-height: 30vh;
    min-height: 20vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

#modal-body > div:first-child {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

#modal-body #button-wrapper {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

label {
    margin-bottom: 0.625rem;
    color: #020203;
    font-size: 0.875rem;
    font-weight: bold;
}

#url {
    padding: 0.625rem;
}

#modal button {
    padding: 0.625rem;
}

#close-modal {
    background: white;
    color: black;
    margin-left: 0.9375rem;
    border: 1px solid #2f3137;
}

#add-item {
    margin-left: 1.5625rem;
    background: #d1d1d1;
}

#add-item:disabled  {
    background: rgba(191, 191, 191, 0.5);
}

.read-item {
    display: flex;
    /* align-items: center; */
    align-content: center;
    background: white;
    border-bottom: 2px solid #d1d1d1;
    padding: 0.75rem;
    margin-bottom: 0.625rem;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    justify-content: space-between;
}

.read-item h2 {
    margin-top: 0px;
    font-size: 1.25rem;
    flex: 1 1 auto;
}

.read-item:hover, .read-item.selected {
    background: #eee
}

.read-item img {
    width: 20%;
    margin-right: 1.5625rem;
}

#delete-item {
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.9);
    background-image: url(../images/close.svg);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: #fff!important;
    border-radius: 30px;
    text-indent: -9999px;
    transition: all .3s ease-in-out;
    overflow: hidden;
}